<div class="container-fluid footerblock">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 mt-5 footerimg ">
                <a href="file:///F:/bootstrap/firstfiidle.html">
                <img src="https://www.firstfiddle.in/assets/images/ff-logo-02.png" class="w-50" style="margin-top: 12%;">
                </a>
            </div>
            <div class="col-md-7 mt-5 footercontent">
                <h2 style="font-family: prague;"><span style="color: #ffad00;">CONTACT</span> US</h2>
                <br>
                <p>We're a team focusing on redefining the way the hospitality industry works by bringing in concept based restaurants across India. We are truly committed to catering to the ever-changing cosmopolitan taste of the customer and revolutioning the F & B industry!</p>
                <div class="container mt-5 ms-auto">
                    <div class="row">
                        <div class="col-md-6 footerheadings">
                            <h4>ADDRESS</h4>
                            <p> 6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021 </p>
                        </div>
                        <div class="col-md-6 footerheadings">
                            <h4>FRANCHISE ENQUIRY</h4>
                            <p>Mobile:<a href="#">XXXXXXXXXXXXXX  </a></p>
                            
                            
                            <p style="    margin-top: -18px;">Email:<a href="#">  XXXXXXXXXXXX@gmail.com</a></p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  mt-4  footerheadings">
                            <h4>HR Enquiry</h4>
                            <p>Mobile:<a href="#">  XXXXXXXXXXXX</a></p>
                            <p style="    margin-top: -18px;">Email:<a href="#">  XXXXXXXXXXXX@gmail.com</a></p>
                        </div>
                        <div class="col-md-6 mt-4 footerheadings">
                            <h4>OTHER ENQUIRY</h4>
                            
                            <p>Mobile:<a href="#">  </a></p>
                            <p style="    margin-top: px;">Email:<a href="#">  XXXXXXXXXXXX@gmail.com</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
