<div class="container-fluid mt-5">
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <h1>
                Employee Database 
            </h1>
        </div>
    </div>
</div>



<div class="container-fluid mt-5 ">

    <div class="container  mt-5 ">
        <button class="btn btn-primary btn1" data-bs-toggle="modal" data-bs-target="#aa">
            Login
        </button>
        <!-- Button trigger modal -->
        <div class="modal fade" id="aa">
            <div class="modal-dialog modal-lg">
                <!--modal-xl,sm,lg--->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Employee Details</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <!---modal header end--->
                    <div class="modal-body">
                        <form [formGroup]="form" (ngSubmit)="display_add_emp()">
                            <div class="mb-3">
                                <label>Title</label>
                                <input type="text" name="" class="form-control" formControlName="title">
                            </div>
                            <div class="mb-3">
                                <label>Body</label>
                                <input type="text" name="" class="form-control" formControlName="body">
                            </div>
                            <div class="mb-3">
                                <label>Description</label>
                                <input type="text" name="" class="form-control" formControlName="description">
                            </div>

                            <button class="btn btn-primary">Submit</button>

                        </form>



                    </div><!-- modal body--->
                </div>
                <!---model dialog--- end--->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">

    <div class="container  mt-5 ">

        <table class="table  table-hover  ">
            <thead>
                <tr>

                    <th class="a">ID</th>
                    <th class="a">title</th>
                    <th class="a">body</th>
                    <th class="a">description</th>
                    <th class="a">Action</th>
                </tr>
                <tr *ngFor="let get of viewemparray">

                    <td class="a">{{get._id}}</td>
                    <td class="a">{{get.title}}</td>
                    <td class="a">{{get.body}}</td>
                    <td class="a">{{get.description}}</td>
                    <td><a class="btn btn-info" [routerLink]="['/view_bLog',get._id]">View</a><br>
                        <a class="btn btn-success">Edit</a><br>
                        <a class="btn btn-danger">Delete</a><br>


                    </td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>