<div class="p-4 bg-danger text-white text-center">
    <h1>Attribute in angular 14</h1>
    <ul style="list-style-type:none">
        <li class="display-4">NgStyle</li>
        <li class="display-4">NgClass</li>



    </ul>

</div>

<div class="container mt-5">
    <button [ngStyle]="{'color':'blue'}">Submit Form</button>
    <button [ngStyle]="myStyle">Submit Form</button>

</div>

<h3>ng class</h3>
<div class="container mt-5 text-center">
    <p [ngClass]="'color fontme borderme'"> my name is Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Ea quidem explicabo quia aliquid rem. Delectus facilis repudiandae autem obcaecati! Sapiente, optio. Magnam 
        reiciendis ipsam voluptas nesciunt perferendis! Iure, earum itaque? Lorem ipsum dolor
        , sit amet consectetur adipisicing elit. 
        Doloremque modi enim culpa animi explicabo odit! Quas, atque perspiciatis excepturi aliquid iure quia dicta, totam
         voluptates itaque autem consectetur consequuntur eius!



    </p>



    <p [ngClass]="myclass">Lorem ipsum dolor sit amet consectetur adipisi
        cing elit. Eligendi beatae culp
        a quidem hic dolore quaerat ea, 
        quia illo nihil esse, assumenda deserunt sae
        pe rerum nemo fugit magnam ab, neque in.

    </p>












</div>
