<!-- <app-header></app-header>-->
 <router-outlet></router-outlet>
<!-- <app-if></app-if> -->
<!-- <app-child [parentToChild]='title'></app-child>
<app-child [student]='students'></app-child> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-api></app-api> -->
<!-- <app-news-api></app-news-api> -->
<!-- <app-add-employee></app-add-employee> -->
<!-- <app-for></app-for> -->
<!-- <app-student-display></app-student-display> -->
<!-- <app-switch></app-switch> -->
<!-- <app-footer></app-footer> -->
<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-about></app-about>
<app-brands></app-brands>
<app-career></app-career>--->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
